html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

input:focus {
    outline: none;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(./images/e-AnGx1n-gtw8-unsplash.jpg) center;
}

.weather-card {
    padding: 2em 0;
    min-width: 350px;
    width: 80%;
    max-width: 450px;
    min-height: 500px;

    border-radius: 30px;
}

.weather__main {
    margin-bottom: 1em;
    text-align: center;
}

.city {
    font-size: 1.5em;
}
.temperature {
    font-size: 4.5em;
    transform: translateX(0.2em)
}
.description {
    margin: 0.3em;
    text-transform: capitalize;
}
.high-low {
    margin: 0.3em;
}

.units {
    border: none;
    color: white;
    background: transparent;
    padding: 0.3em 0.5em;

    font-size: 0.7em;
    text-decoration: underline;
}

.units:hover, .units:focus {
    cursor: pointer;
}

.search {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;

    display: flex;
    justify-content: center;

    transform: translateX(1em)
}

.search-bar {
    border: none;
    border-radius: 25px;
    width: 90%;
    padding: 0.5em 1em;
    font-size: 1em;
    color:rgba(21, 121, 192, 0.8);
    text-align: center;
}

.search-btn {
    border: none;
    background: none;
}

.search-btn:hover, .search-btn:focus, .search-icon:hover, .search-icon:focus {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s;
}

.search-icon {
    color: white;
    font-size: 2em;
}

/* Cards (wind, sunrise/sunset, humidity, pressure) */
.weather__additional {
    width: 80%;
    margin: 1em auto;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 150px;
    min-height: 150px;
    background-color: rgba(28, 156, 246, 0.3);
    margin: 0.3em;
    padding: 1em;

    border-radius: 15px;
}
.card:hover {
    transform: scale(1.05);
    background-color: rgba(28, 156, 246, 0.4);
    transition: all 0.3s;
}

.card-category {
    font-size: 0.8em;
    margin-bottom: 0.2em;
}

/* Sunrise/Sunset */
.sunrise-sunset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sunrise-time, .sunset-time {
    font-size: 1.5em;
}

/* Wind */
.wind {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wind-direction {
    font-size: 2.5em;
}
.wind-speed {
    font-size: 1.2em;
}

/* Humidity & Pressure */
.humidity-value, .pressure-value {
    margin-top: 0.5em;
}
.humidity-value {
    font-size: 2.5em;
}
.pressure-value {
    text-align: center;
    font-size: 2.5em;
}
.pressure-unit {
    text-align: center;
    font-size: 0.8em;
}

/* For smaller screens */
@media screen and (max-width: 510px) {
    .card {
        width: 130px;
        min-height: 130px;
        font-size: 15px;
    }   
}